{% load static %}
<header id="header-wrap">

    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-5 col-xs-12">

                    <ul class="list-inline">
                        <li><i class="lni-phone"></i> +0123 456 789</li>
                        <li><i class="lni-envelope"></i> <a
                                href="http://preview.uideck.com/cdn-cgi/l/email-protection" class="__cf_email__"
                                data-cfemail="5e2d2b2e2e312c2a1e39333f3732703d3133">[email&#160;protected]</a></li>
                    </ul>

                </div>
                <div class="col-lg-5 col-md-7 col-xs-12">
                    <div class="roof-social float-right">
                        <a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
                        <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
                        <a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
                        <a class="linkedin" href="#"><i class="lni-linkedin-fill"></i></a>
                        <a class="google" href="#"><i class="lni-google-plus"></i></a>
                    </div>
                    <div class="header-top-right float-right">
                        {% if request.user.is_authenticated %}
                            <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <input type="submit" value="Logout">
                            </form>
                        {% else %}
                            <a href="{% url 'login' %}" class="header-top-button"><i class="lni-lock"></i> Log In</a> |
                            <a href="{% url 'register' %}" class="header-top-button"><i class="lni-pencil"></i> Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <nav class="navbar navbar-expand-lg bg-white fixed-top scrolling-navbar">
        <div class="container">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
                        aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="lni-menu"></span>
                    <span class="lni-menu"></span>
                    <span class="lni-menu"></span>
                </button>
                <a href="{% url 'index' %}" class="navbar-brand"><img src="{% static 'assets/img/logo.png' %}" alt=""></a>
            </div>
            <div class="collapse navbar-collapse" id="main-navbar">
                <ul class="navbar-nav mr-auto w-100 justify-content-center">
                    <li class="nav-item {% if request.path == '/' %} active {% endif %}">
                        <a class="nav-link" href="{% url 'index' %}"
                           aria-expanded="false">
                            Home
                        </a>
                    </li>
                    <li class="nav-item {% if request.path == '/products/' %} active {% endif %}">
                        <a class="nav-link" href="{% url 'products'  %}">
                            Products
                        </a>
                    </li>
                    <li class="nav-item {% if request.path == '/blog/list/' %} active {% endif %} ">
                        <a class="nav-link" href="{% url 'blog-list' %}">
                            Blog
                        </a>
                    </li>
                    <li class="nav-item {% if request.path == '/product/create/' %} active {% endif %} ">
                        <a class="nav-link" href="{% url 'product-create' %}"> Post an Ad</a>
                    </li>
                </ul>
            </div>
        </div>


    </nav>
